body {
  background-color: #ff8a80;
  height: 1800px;
}

div {
  top: 0%;
  position: sticky;
}

#box1 {
  background-color: #039be5;
  padding: auto;
  margin: auto;
  position: static;
  top: 40px;
}

#box2 {
  background-color: #00acc1;
  padding: 40px;
  margin: 30px;
  position: relative;
  bottom: 40px;
}

#box3 {
  background-color: #00897b;
  padding: 40px;
  margin: 30px;
  position: fixed;
  right: 40px;
  top: 370px;
}

#box4 {
  background-color: #43a047;
  padding: 40px;
  margin: 30px;
  position: absolute;
  left: 40px;
  top: 380px;
}

#box5 {
  background-color: #7cb342;
  position: sticky;
}
